* {
    margin: 0;
    padding: 0;
    font-family: serif;
    box-sizing: border-box;
}

html {
    font-size: 120%; /* simula zoom de 120% com base em fontes */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 50px;
    background-image: linear-gradient(to bottom right, #1f1c19, #2f2a24, #5c5247);
    flex-direction: column;
    background-color: #1f1c19;
    padding-inline: 15px;
}

.text {
    color: rgb(237, 235, 231);
    font-size: 1.25rem; /* 20px com base em html 120% */
}

#player {
    background-color: #2f2a24;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0px #3c342c, 0 4px 8px 0px #29221b;
    padding-inline: 15px;
    flex-direction: column;
    gap: 15px;
    min-height: 85vh;
    min-width: 23vw;
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
}

#player:hover{
    transform: translateY(-10px);
}

.artist {
    color: rgb(139, 138, 136);
}

.album {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.album .text {
    color: rgb(237, 235, 231);
    font-size: 1.25rem;
}

.album img {
    width: 100%; /* responsivo */
    max-width: 350px;
    border-radius: 10px;
}

#music {
    width: 100%;
}

#music p {
    font-size: 1rem; /* ~16px */
}

.music-player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 80%;
}

#papa {
    width: 100%;
    padding: 0 10px;
}

#progress-bar {
    width: 100%;
    height: 6px;
    border-radius: 5px;
    background-color: #444;
    accent-color: #503926;
}

.player-buttons {
    display: flex;
    gap: 3rem; /* espaçamento proporcional */
}

.like {
    align-self: flex-end;
}

.button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button i {
    color: rgb(237, 235, 231);
    font-size: 1.5rem; /* ~24px */
}


#playlist {
    width: 70vh;
    min-height: 10vh;
    margin-top: 70px;
}

.musica{
    display: flex;
    align-items: center;
    height: 150px;
    padding-inline: 15px;
    background-color: #2f2a24;
    margin-top: 15px;
}

.musica .name{
    color: rgb(237, 235, 231);
}

.musica img {
    width: 100px;
    margin-right: 15px;
    border-radius: 15px;
}

@media only screen and (min-width: 900px) {
    #playlist {
        width: 10vw;
    }
}